// primary colors
$pryColor1: rgba(22, 0, 255, 0.6);
$pryColor2: rgba(22, 0, 255, 0.8);

//secondary color
$secColor1: rgba(255, 0, 113, 0.6);
$secColor2: rgba(255, 0, 113, 0.8);

//text color
$textColor1: rgba(0, 0, 0, 1);
$textColor2: rgba(0, 0, 0, 0.5);
$textColor3: rgba(0, 0, 0, 0.7);
